{% extends 'mailing/base.html.twig' %}

{% trans_default_domain 'mails' %}

{% block body %}
    <h2>{{ 'password_lost.title'|trans }}</h2>

    {{ 'password_lost.body'|trans }}

    <br>

    {{ 'password_lost.username'|trans }} {{ user.username }}

    <br>

    {{ 'password_lost.reset'|trans }}
    <a href="{{ url('app_active', {'registrationCode': user.registrationCode}) }}">{{ 'password_lost.reset_link'|trans }}</a>
{% endblock %}
